html{
    margin: 0;
    padding: 0;
    background-color: white;
}
body{
    background-color: #390000;
    margin: 0;
    padding: 0;
}
  
.title{
    color: #fff;
    text-align: center;
    margin-block-start: 0%;
    font-size: 60px;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    padding: 20px;
    
}
.title a{
    text-decoration: none;
    color: #fff;
}

h2 a{
    text-decoration: none;
    color: #390000;
}

h3{
    background-color: #F5DDB0;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    color: #361F1F;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
}
.qanda h3{
    border-radius: 20px;
}
.questions li{
    list-style: none;
    list-style-type: none;
   text-align: right;
}

.intro p strong{
    font-family: 'Courgette', cursive;
}
p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.pickone{
    width: 100%;
    padding: 30px;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
	background: #F5DDB0;
	transition: 5s;
    font-family: 'courgette', cursive;
    
}

.pickone:hover {
	background: #F5DDB0;
	
}

.options a{
    text-decoration: none;
    color: #390000;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: #270000;
    padding: 10px;
}
.start div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.activebox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.activebox div {
    color: white;
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.activebox div span {
    color: black;
}

.gradebox div {
    background-color: white;
    width: 200px;
   padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.gradebox div span {
    color: black;
}

.gradebox .gradeline{
    color: #000;
    margin-bottom: 10px;
 }


.begin{
    background-color:#876464;
    padding: 10px;
}

.questions p{
    color: #390000;
    
}
.qoptions{
    text-align: start; 
}
.questions li {
    font-family: 'Times New Roman', Times, serif;
    text-align: left; /* Changed from center to left */
    font-size: 14px;
    font-weight: lighter;
    padding-left: 20px;
}

.question-number {
    font-weight: bold;
    border-bottom: 0.5px solid #000; /* You can adjust the color and thickness as needed */
    margin-bottom: 10px; /* Adjust spacing as needed */
    padding-bottom: 5px; /* Adjust spacing as needed */
}

.sa{
    background-color: #876464;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.sa .submit a{
    text-decoration: none;
    color: white;
}

.submit{
    background-color: #876464;
    border-radius: 10px;
    font-family: 'courgette', cursive;
    font-size: 14px; 
    color: white;
    border: 1px solid white;
}

footer{
    background-color: white;
    text-align: center;
    padding: 10px;
}
footer h2{
    color: #390000;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Courgette', cursive;
}
