html{
    margin: 0;
    padding: 0;
    background-color: white;
}
body{
    background-color: #390000;
    margin: 0;
    padding: 0;
}
  
.title{
    color: #fff;
    text-align: center;
    margin-block-start: 0%;
    font-size: 60px;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    padding: 20px;
    
}
.title a{
    text-decoration: none;
    color: #fff;
}
h2{
    color: #390000;
}

h3{
    background-color: #F5DDB0;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    color: #361F1F;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
}
.qanda h3{
    border-radius: 20px;
}
.intro p strong{
    font-family: 'Courgette', cursive;
}
p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.pickone{
    width: 100%;
    padding: 30px;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
	background: #F5DDB0;
	transition: 1s;
    font-family: 'courgette', cursive;
    
}
.options a{
    text-decoration: none;
    color: #390000;
}
.pickone:hover {
	background: #F5DDB0;
	box-shadow: 0 0.15rem 1rem #002;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: #270000;
    padding: 10px;
}
.start div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}
.begin{
    background-color:#876464;
    padding: 10px;
}

.questions p{
    color: #390000;
    
}
.questions p li{
    text-align: start; 
}
.questions li{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    
}

footer{
    background-color: white;
    text-align: center;
    padding: 10px;
}
footer h2{
    color: #390000;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Courgette', cursive;
}
